---
// TODO: Componente para alternar entre modo dark/light.
// Guía:
// 1) Leer modo actual desde document.documentElement.dataset.mode
// 2) Ejecutar window.toggleColorMode() al hacer click
// 3) Actualizar label e icono según el modo activo
// 4) Mantener accesibilidad con aria-label y aria-pressed
---

<button type="button" data-i18n-aria="theme.toggle.aria">
  {/* TODO: Icono/label dinámico */}
  Toggle Theme
</button>
